.Container {
    width: min(90vw, 500px); /* Ocupa 90% da tela, mas no máximo 500px */
    height: clamp(6vh, 8vh, 10vh); /* Altura flexível entre 6vh e 10vh */
    display: flex;
    align-items: center;
    justify-content: center;
}

.InputContainer {
    position: relative;
    width: 90%;
    height: 60%;
    display: flex;
    align-items: center;
}

.Input {
    font-size: var(--font-size-medium);
    padding-left: 0.7em; /* Espaço para o ícone */
    padding-right: 2em; /* Espaço para o ícone à direita (20px ícone + 15px margem) */
    width: 31vw;
    height: 8vh;
    color: var(--foreground);
    outline: none;
    background: transparent;
    border-radius: 25px;
    border: 3px solid var(--gray);
}

.SearchIcon {
    position: absolute;
    right: 1em; /* Usando 'em' para manter proporção */
    z-index: 1;
    width: 32px;
    height: 32px;
}

.Input::placeholder {
    color: var(--gray);
    font-size: var(--font-size-medium);
}