@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap');

.Container {
    display: grid;
    grid-template-columns: auto 0.95fr auto;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 14vh;
    box-shadow: 0 1px 8px 0px var(--foreground);
}

.BurgerContainer {
    grid-column: 1;
    padding-left: 20px;
}

.LogoContainer {
    grid-column: 2;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.Title {
    font-family: Irish Grover, serif;
    font-size: var(--font-size-medium);
    background: linear-gradient(
      to right,
      var(--main-color) 0%,
      #6D3AA1 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-left: 10px;
}

.NeedHelp {
    color: #6D3AA1;
}