.Container {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    width: 100vw;
    height: 14vh;
    box-shadow: 0 1px 8px 0px var(--foreground);
}

.BurgerContainer {
    grid-column: 1;
    padding-left: 20px;
}

.LogoContainer {
    grid-column: 2;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.Title {
    font-family: Irish Grover, serif;
    font-size: var(--font-size-medium);
    color: linear-gradient(
      180deg,
      var(--main-color) 0%,
      #6D3AA1 100%
    );
    margin-left: 10px;
}