.Input {
    font-size: var(--font-size-medium);
    padding: 0 0.7em 0 0.7em;
    width: 31vw;
    height: 8vh;
    color: var(--foreground);
    background: transparent;
    border: 2px solid var(--gray)
}

.Input::placeholder {
    color: var(--gray);
    font-size: var(--font-size-medium);
}
