.Input {
    font-size: var(--font-size-medium);
    padding-left: 0.7em;
    padding-right: 0.7em;
    width: 31vw;
    height: 8vh;
    color: var(--foreground);
    outline: none;
    background: transparent;
    border: 1px solid var(--gray)
}

.Input::placeholder {
    color: var(--gray);
    font-size: var(--font-size-medium);
}
