.Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2%;
    justify-content: flex-start;
    height: 100vh;
}

.Title {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: clamp(1.5rem, 2rem, 2.5rem);
    color: var(--foreground);
    margin-bottom: 1rem;
}

.Form {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}