.Container {
    max-width: 31vw;
    height: clamp(6vh, 8vh, 10vh); /* Altura flexível entre 6vh e 10vh */
    display: flex;
    align-items: center;
    justify-content: center;
}

.InputContainer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around; /* texto à esquerda, ícone à direita */
}

.Input {
    font-size: var(--font-size-medium);
    padding: 0 1.5em 0 0.5em; /* em → ligado ao tamanho da fonte */
    width: 31vw;
    height: 8vh;
    color: var(--foreground);
    outline: none;
    background: transparent;
    border-radius: 25px;
    border: 3px solid var(--gray);
}

.SearchIcon {
    position: absolute;
    right: 1em;
    top: 0.75em;
}

.Input::placeholder {
    color: var(--gray);
    font-size: var(--font-size-medium);
}