.Container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.BurgerIcon {
    display: flex;
    position: inline-block;
}

.BurgerContent {
    display: flex;
    flex-direction: column;
    top: 100%;
    position: absolute;
}