.Container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 8vw;
    height: 14vh;
}

.BurgerIcon {
    display: flex;
    position: inline-block;
}

.Content {
    display: flex;
    flex-direction: column;
    top: 100%;
    justify-content: center;
    position: absolute;
    height: 50vh;
    width: 10vw;
    left: 0;
    box-shadow: 1px 0px 8px 0px var(--foreground);
    background-color: var(--background)
}

.HorizontalContainer {
    display: flex;
    width: 100%;
    flex-direction: row;
    margin: 20px;
    align-items: center;
}

.Label {
    font-size: var(--font-size-small);
    padding-left: 4px;
}

.MenuItems {
    width: 100%;
    transition: background-color 0.3s ease;
}

.MenuItems:hover {
    background-color: var(--gray);
}