.Container {
  display: flex;
  align-items: stretch;
  min-height: 100%;
}

.Content {
  margin-top: 4vh;
  padding-left: 7vw;
  display: flex;
  flex-direction: column;
  gap: 5vh; /* elimina necessidade de GapTop */
  flex: 1; /* Ocupa o espaço restante ao lado da Sidebar */
}

.Header {
  display: flex;
  justify-content: center;
  gap: 2em;
}

.DisponibilityBooks {
  border-bottom: 1px solid var(--foreground);
  width: fit-content;
}

.Sidebar {
  position: relative;
  right: 0;
  width: 20vw;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2vh 1vw;
  box-shadow: 1px 0px 8px 0px var(--foreground);
  background-color: var(--background)
}

.SidebarHeader {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
