.Container {
  display: flex;
  align-items: flex-start;
}

.Content {
  margin-top: 4vh;
  padding-left: 7vw;
  display: flex;
  flex-direction: column;
  gap: 5vh; /* elimina necessidade de GapTop */
}

.Header {
  display: flex;
  justify-content: center;
  gap: 2em;
}

.DisponibilityBooks {
  border-bottom: 1px solid var(--foreground);
  width: fit-content;
}

.Sidebar {
  position: absolute;
  right: 0;
  top: 14vh;
  width: 20vw;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2vh 1vw;
  border-left: 2px solid var(--foreground);
  background-color: var(--background)
}

.SidebarHeader {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
