.Container {
    width: 30vw;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    background-color: #2C2C54;
    border-radius: 25px;
}

.InputContainer {
    background-color: #61617F;
    height: 2vw;
    width: 80%;
    margin-left: 5%;
    border: 1.5px solid black;
    border-radius: 25px;
}

.Input {
    font-size: 1.3rem;
    padding-left: 2%;
    width: 100%;
    height: 100%;
    color: var(--foreground); 
    outline: none;
    /* no tema claro escrevo escuro, no tema escuro eu escrevo claro*/
}

.Input::placeholder {
    color: var(--foreground);
    font-size: 1.2rem;
}

.IconContainer {
    margin-left: 2%;
}