.Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 35vw;
    height: 90vh;
    margin: 10vh 0vw 10vh 10vw;
    border-radius: 30px;
    box-shadow: 0 1px 8px 0px var(--foreground);
}

.Title {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: var(--font-size-title);
    color: var(--foreground);
}

.Form {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.Submit {
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 24vw;
  height: 7vh;
  font-size: var(--font-size-intermediate);
  color: white;
  background-color: #785ADB;
  border: 2px solid var(--gray)
}

.Link {
  color: var(--link-color);
}

.Text {
  text-align: end;
}

.horizontalContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1em;
}