.Container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 35vw;
    height: 90vh;
    margin: 10vh 0vw 10vh 10vw;
    border-radius: clamp(10px, 2vw, 30px);
    gap: 8vh;
    box-shadow: 0 1px 8px 0px var(--foreground);
}

.RegisterContainer {
    height: 80vh;
}

.Title {
    font-family: var(font-family-inter);
    font-size: var(--font-size-title);
    color: var(--foreground);
}

.Form {
  display: flex;
  flex-direction: column;
  gap: 5vh;
}

.Submit {
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
  width: 24vw;
  height: 7vh;
  font-size: var(--font-size-intermediate);
  color: white;
  background-color: #785ADB;
  border: 2px solid var(--gray)
}

.Link {
  color: var(--link-color);
  text-align: right;
}

.Text {
  text-align: center;
}

.HorizontalContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: clamp(0.5rem, 1vw, 2rem);
  padding: 0 1vw 0 1vw;
}

.Google {
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
  width: 28vw;
  height: 7vh;
  font-size: var(--font-size-intermediate);
  color: var(--foreground);
  background-color: var(--background);
  border: 2px solid var(--gray)
}

.LittleDistance {
  display: flex;
  flex-direction: column;
  gap: 1vh;
}