.themeToggle {
    position: block; /* Usando fixed em vez de absolute para ficar relativo à viewport */
    top: 20px;
    right: 20px;
}

/* Opcional: estilize o botão */
.themeToggle button {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}