.themeToggle {
    display: flex;
    align-self: center;
    background-color: var(--gray);
    border-radius: 20px;
    margin-top: 25px;
    width: fit-content;
    border: 2px solid var(--foreground);
    gap: 20px;
    justify-content: space-around;
}

/* Opcional: estilize o botão */
.themeToggle button {
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
}

.activeTheme {
    background-color: white;
}